@font-face {
    font-family: 'Malaga Narrow OT Reg';
    src: url('MalagaNarrowOT-Reg.eot');
    src: url('MalagaNarrowOT-Reg.eot?#iefix') format('embedded-opentype'),
        url('MalagaNarrowOT-Reg.woff2') format('woff2'),
        url('MalagaNarrowOT-Reg.woff') format('woff'),
        url('MalagaNarrowOT-Reg.ttf') format('truetype'),
        url('MalagaNarrowOT-Reg.svg#MalagaNarrowOT-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

