.about-info__inner{
  padding-top: 66px;
}

.about-info__content{
  @include respond-to(md) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 57px;
  }
}

.about-info__content-col--lg{
  padding: 41px 25px 44px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -110px;
  @include shadow-custom(0, 10px, 20px, 0, rgba(#000, 0.5));

  h3{
    margin-bottom: 16px;
    text-transform: uppercase;
  }
  p{
    line-height: 1.75;
  }
  @include respond-to(md){
    width: 75%;
    max-width: 75%;
    margin-top: -157px;
    margin-left: -70px;
    padding: 41px 40px 44px 47px;
  }
  @include respond-to(xl){
    margin-left: -92px;
  }
}

.about-info__content-col--sm{
  padding: 41px 0px 44px;
  @include respond-to(md){
    width: 34%;
    max-width: 34%;
    padding: 0 0 0 44px;
  }
}

///Carousel
.about-info__carousel{
  margin: 0 -10px;
  .slick-arrow{
    &.slick-prev{
      left: 0;
    }
    &.slick-next{
      right: 0;
    }
  }
  @include respond-to(sm){
    padding: 0 25px;
  }
  @include respond-to(md){
    .slick-arrow{
      &.slick-prev{
        left: -7px;
      }
      &.slick-next{
        right: -7px;
      }
    }
  }
}

.about-info__carousel-item{
  padding: 0 10px;
}

.about-info__carousel-item-img{
  position: relative;
  padding-bottom: 100%;
  margin-bottom: 14px;
  img{
    @include imageCover;
    @include shadow-custom(0, 5px, 5px, 0, rgba(#000, 0.5));
  }
}

.about-info__carousel-item-content{
  p{
    text-align: center;
  }
}

