/*------------Slick Slider----------------*/

.slick__slider {
  position: relative;
  opacity: 0;
  &.slick-initialized{
    opacity: 1;
  }
}

.slick-slide {
  outline: none !important;
}

.slick-arrow {
  position: absolute;
  background: transparent;
  font-size: 0;
  border: none;
  display: block;
  @include square(30px);
  z-index: 2;
  top: 0px;
  bottom: 0;
  margin: auto;
  outline: none !important;
  @include transition-03();
  @include on-event{
    &:after{
      border-color: $redColor;
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
    @include size(23px, 23px);
    @include transition-03();
    border: 4px solid #fff ;
  }
  &.slick-disabled{
    opacity: 0;
    z-index: -1;
  }
  &.slick-next {
    right: -14px;
    &:after {
      transform: rotate(-45deg);
      border-left: none;
      border-top: none;
    }
  }
  &.slick-prev {
    left: -14px;
    &:after {
      transform: rotate(-45deg);
      border-right: none;
      border-bottom: none;
    }
  }
}

@include respond-to(md){
  &.slick-next {
    right: -20px;
  }
  &.slick-prev {
    left: -20px;
  }
}

.slick-dots {
  position: absolute;
  display: block;
  bottom: 37px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  li {
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    content: '';
    @include square(7px);
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.5;
    @include transition-03;
    button {
      display: none;
    }
    &.slick-active{
      opacity: 1;
    }
  }
}

