///Videos list
.videos-block__list {
  @include respond-to(sm) {
    display: flex;
    margin: 0 -10px;
  }
  @include respond-to(xl) {
    margin: 0 -18px;
  }
}

.videos-block__list-item {
  position: relative;
  display: block;
  margin-bottom: 20px;
  color: currentColor;
  @include shadow-custom(0, 5px, 5px, 0, rgba(#000, 0.7));

  &:last-of-type {
    margin-bottom: 0;
  }

  @include on-event {
    .videos-block__list-item-content {
      background-color: rgba(#000, 1);
    }
    .videos-block__list-item-img {
      img {
        transform: scale(1.1, 1.1);
      }
    }
  }
  @include respond-to(sm) {
    width: calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin: 0 10px;
  }

  @include respond-to(xl) {
    width: calc(50% - 36px);
    max-width: calc(50% - 36px);
    margin: 0 18px;
  }
}

.videos-block__list-item-img {
  display: block;
  position: relative;
  padding-bottom: 56%;
  overflow: hidden;

  img {
    @include imageCover;
    @include transition-img;
  }
}

.videos-block__list-item-content {
  padding: 10px 12px;
  background-color: rgba(#000, 0.8);
  @include transition-04;

  p {
    font-size: 0.65rem;

    &.title {
      font-weight: bold;
      margin-bottom: 7px;
    }
  }

  @include respond-to(md) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    p {
      font-size: 0.85rem;
    }
  }
}

.videos-block__btn{
  margin-top: 20px;

  .btn{
    background-color: $purpleColor;
    padding: 10px 63px 11px;
    border-radius: 4px;
    border-color: $purpleColor;
    font-family: $Arial;
    font-size: 0.75rem;
    @include on-event(){
      border-color: #fff;
    }
  }
}
